* text=auto eol=lf

# linguist-language settings for HSP3
*.hs linguist-language=HDL Help Source
*.hsp linguist-language=HSP3
*.as linguist-language=HSP3



# <https://github.com/github/linguist#vendored-code>
hspsdk/             linguist-vendored

# (削除済み)
cppformat/          linguist-vendored
